@model PrimatechMVC.Models.Widget
@{
    ViewBag.Title = "Add";
}
<h2>
    Add</h2>
    @{Html.EnableClientValidation();}
@using (Html.BeginForm("Create", "Widgets"))
{
    <fieldset>
        <legend>Widget</legend>
        @Html.EditorForModel(Model)
        <button id="saveButton" type="submit">
            Save</button>
    </fieldset>
}
