@import "defaults.scss";

body
{	
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: $color-brown-shaded;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid $color-brown-highlight;
	color:$color-brown-shaded;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

nav
{
	border-top:1px solid $color-brown-normal;
	border-bottom:1px solid $color-brown-normal;
	background-color:$color-yellow-normal;
	margin:1.5em auto;
	ul
	{
		li 
		{
			display:inline; list-style-type:none;
			margin:1.5em;
			font-size:1.25em;
			a 
			{
				text-decoration:none;
			}
		}
	}
}