/*Default Colors*/
body {
  font-size: 75%;
  font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
  color: black; }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
  border: 1px solid #803502;
  color: black;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0; }

legend {
  font-size: 1.2em;
  font-weight: bold; }

textarea {
  min-height: 75px; }

.editor-label {
  margin: 1em 0 0 0; }

.editor-field {
  margin: 0.5em 0 0 0; }

nav {
  border-top: 1px solid #351601;
  border-bottom: 1px solid #351601;
  background-color: #ecd000;
  margin: 1.5em auto; }
  nav ul li {
    display: inline;
    list-style-type: none;
    margin: 1.5em;
    font-size: 1.25em; }
    nav ul li a {
      text-decoration: none; }
